.folio div {
	float: left;
	background: #17A781;
	margin: 0;
	overflow:hidden;
	position:relative;
	.overlay {
		position:absolute;
		background: rgba(0, 0, 0, 0);
		width:100%;
		height:100%;
		top:0;
		left:0;
		transition:all .2s ease-out;
		&:hover {
			background: rgba(0, 0, 0, 0.71);
		}
	}
}
.folio .item-w2 {
	background: #ED9393;
}
.folio .item-h2 {
	background: #7CB744;
}
.folio .item-h3 {
	
	background: #38B5E5;
}

.folio img {
	width:100%;
}